<h1>Homepage</h1>

<table class="styled-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Exercise</th>
      <th>Weight (kg)</th>
      <th>Reps</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i =0; i < locals.workouts.length; i++ ) { %>
    <tr>
      <td><%= locals.workouts[i].type %></td>
      <td><%= locals.workouts[i].date %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% for (var j =0; j < locals.workouts[i].exercises.length; j++ ) { %>
    <tr>
      <td></td>
      <td></td>
      <td><%= locals.workouts[i].exercises[j].name %></td>
      <td><%= locals.workouts[i].exercises[j].weight %></td>
      <td><%= locals.workouts[i].exercises[j].reps %></td>
    </tr>
    <% } %> <% } %>
  </tbody>
</table>
