<div class="row m-5">
  <div class="col-5">
    <form method="POST" action="/workout/add-workout">
      <div class="mb-3">
        <label for="custom-program-type" class="form-label">Program Type</label>
        <select class="form-select" name="type" required>
          <% for (var i = 0; i < locals.ALL_EXERCISES.WORKOUT_TYPES.length; i++ ) { %>
            <option value="<%= locals.ALL_EXERCISES.WORKOUT_TYPES[i] %>"><%= locals.ALL_EXERCISES.WORKOUT_TYPES[i] %></option>
          <% } %>
        </select>
      </div>

      <div class="mb-3">
        <label for="creation-date" class="form-label">Creation Date</label>
        <input type="date" name="creation-date" class="form-control" id="creation-date" required />
      </div>

      <% for (var i = 1; i <= locals.exerciseCount; i++ ) { %>
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label class="form-label" for="exercise-<%= i %>-name">Exercise</label>
            <select class="js-exercise-select form-select" id="exercise-<%= i %>-name" name="exercise-<%= i %>">
              <option disabled selected value> - Select Exercise - </option>
              <optgroup label="Push">
                <% for (var j = 0; j < locals.ALL_EXERCISES.PUSH.length; j++ ) { %>
                  <option value="<%= locals.ALL_EXERCISES.PUSH[j] %>"><%= locals.ALL_EXERCISES.PUSH[j] %></option>
                <% } %>
              </optgroup>
              <optgroup label="Pull">
                <% for (var k = 0; k < locals.ALL_EXERCISES.PULL.length; k++ ) { %>
                  <option value="<%= locals.ALL_EXERCISES.PULL[k] %>"><%= locals.ALL_EXERCISES.PULL[k] %></option>
                <% } %>
              <optgroup label="Legs">
                <% for (var l = 0; l < locals.ALL_EXERCISES.LEGS.length; l++ ) { %>
                  <option value="<%= locals.ALL_EXERCISES.LEGS[l] %>"><%= locals.ALL_EXERCISES.LEGS[l] %></option>
                <% } %>
              </optgroup>
              <optgroup label="Abs">
                <% for (var l = 0; l < locals.ALL_EXERCISES.ABS.length; l++ ) { %>
                  <option value="<%= locals.ALL_EXERCISES.ABS[l] %>"><%= locals.ALL_EXERCISES.ABS[l] %></option>
                <% } %>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="exercise-<%= i %>-weight" class="form-label">Weight (kg)</label>
            <input type="number" name="weight-<%= i %>" class="form-control" id="exercise-<%= i %>-weight" min="0" max="1000" />
          </div>
        </div>
        <div class="col-4">
          <label for="exercise-one-rep-one" class="form-label">Reps</label>
          <input type="number" name="reps-<%= i %>" class="form-control" id="exercise-reps-" min="0" max="1000" />
        </div>
      </div>
      <% } %>

      <button type="submit" class="btn btn-primary mt-3 mb-3">Submit</button>
    </form>
  </div>
  <div class="col-7">
    <h2 class="js-exercise-header text-center d-none"></h2>
    <div class="js-exercises-images">
      <!-- Legs -->
      <% for (var i = 0; i < locals.ALL_EXERCISES.LEGS.length; i++ ) { %>
        <img 
          class="image d-none" 
          src="/images/<%= locals.ALL_EXERCISES.LEGS[i].split(' ').join('-') %>.jpg" 
          data-exercise-name="<%= locals.ALL_EXERCISES.LEGS[i] %>"
        />
      <% } %>

      <!-- Push -->
      <% for (var i = 0; i < locals.ALL_EXERCISES.PUSH.length; i++ ) { %>
        <img 
          class="image d-none" 
          src="/images/<%= locals.ALL_EXERCISES.PUSH[i].split(' ').join('-') %>.jpg" 
          data-exercise-name="<%= locals.ALL_EXERCISES.PUSH[i] %>"
        />
      <% } %>

      <!-- Pull -->
      <% for (var i = 0; i < locals.ALL_EXERCISES.PULL.length; i++ ) { %>
        <img 
          class="image d-none" 
          src="/images/<%= locals.ALL_EXERCISES.PULL[i].split(' ').join('-') %>.jpg" 
          data-exercise-name="<%= locals.ALL_EXERCISES.PULL[i] %>"
        />
      <% } %>

      <!-- Abs -->
      <% for (var i = 0; i < locals.ALL_EXERCISES.ABS.length; i++ ) { %>
        <img 
          class="image d-none" 
          src="/images/<%= locals.ALL_EXERCISES.ABS[i].split(' ').join('-') %>.jpg" 
          data-exercise-name="<%= locals.ALL_EXERCISES.ABS[i] %>"
        />
      <% } %>
    </div>
  </div>
</div>